.night-mode {
  @media screen and (max-width:600px) {
    text-align: right;

    .delimiter {
      display: none;
    }
  }

  text-align: center;
  a {
    display: inline-block;
    padding: 0 10px;
    border-bottom-color: transparent !important;
    // color: rgb(252, 100, 35);
    // border: 1px solid rgb(252, 100, 35) !important;
    // border-radius: 4px;
    // i {
      // color: rgb(252, 100, 35);
    // }

    &:hover {
      border-bottom-color: transparent !important;
      // color: #FAFAFA;
      // background: rgb(252, 100, 35);

      // i { color: #FAFAFA; }
    }
  }
}
